---
import naufalImage from "../images/naufal.jpg";
---

<section
  id="hero"
  class="mb-12 flex flex-col gap-6 md:mb-16 md:flex-row md:gap-10"
>
  <div class="aspect-square w-32 h-32 md:w-48 md:h-48">
    <div class="w-full h-full rounded-full overflow-hidden">
      <img
        src={naufalImage}
        alt="Foto Naufal Hakim"
        class="object-cover object-top w-full h-full"
      />
    </div>
  </div>
  <div>
    <div class="mb-3 flex flex-col gap-1 md:mb-4">
      <h3 class="text-2xl font-medium md:text-3xl">Hi 👋</h3>
      <h1 class="text-3xl font-semibold md:text-4xl">You can call me</h1>
      <h2 class="text-4xl font-semibold text-slate-400 md:text-5xl">Naufal</h2>
    </div>
    <p class="text-lg">
      I am an electrical engineering student who interested in backend
      development but also likes user interface.
    </p>
  </div>
</section>
