---
const projectImages = await Astro.glob("../images/project/*.png");
---

<section id="project" class="mb-12 md:mb-16">
  <h2
    class="w-fit text-xl font-semibold mb-6 relative after:block after:absolute after:-z-10 after:bottom-1 after:-left-3 after:h-full after:w-3/4 after:bg-gradient-to-r after:from-slate-800 after:-skew-y-[5deg] after:-skew-x-6 md:text-2xl md:mb-7"
  >
    My Newest Project
  </h2>
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 sm">
    {
      projectImages ? (
        projectImages.map((image) => (
          <>
            <a href="/test" class="transition hover:scale-[103%]">
              <div class="aspect-video rounded-lg overflow-hidden mb-2">
                <img src={"/src/images/project/dbyte.png"} />
              </div>
              <div>
                <h3 class="text-lg font-semibold mb-1">Dbyte</h3>
                <p class="text-base font-normal mb-1">
                  Forum website as a place for student discussion
                </p>
                <div class="text-base font-normal text-slate-400 flex items-center gap-2">
                  See more{" "}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="bi bi-box-arrow-up-right w-4"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                    />
                  </svg>
                </div>
              </div>
            </a>
            <a href="/test" class="transition hover:scale-[102%]">
              <div class="aspect-video rounded-lg overflow-hidden mb-2">
                <img src={"/src/images/project/dbyte.png"} />
              </div>
              <div>
                <h3 class="text-lg font-semibold mb-1">Dbyte</h3>
                <p class="text-base font-normal mb-1">
                  Forum website as a place for student discussion
                </p>
                <div class="text-base font-normal text-slate-400 flex items-center gap-2">
                  See more{" "}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="bi bi-box-arrow-up-right w-4"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </>
        ))
      ) : (
        <p class="text-sm text-slate-500">Data Kosong</p>
      )
    }
  </div>
</section>
