---
import Icon from "astro-icon";
---

<section id="tech" class="mb-14 md:mb-16">
  <div>
    <h2
      class="w-fit text-xl font-semibold mb-6 relative after:block after:absolute after:-z-10 after:bottom-1 after:-left-3 after:h-full after:w-3/4 after:bg-gradient-to-r after:from-slate-800 after:-skew-y-3 after:-skew-x-6 md:text-2xl md:mb-7"
    >
      Current Used Tech Stack
    </h2>
    <div
      class="grid grid-cols-[repeat(auto-fit,minmax(50px,_1fr))] gap-6 md:grid-cols-9 items-center"
    >
      <Icon
        name="logos:go"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
      <Icon
        name="logos:laravel"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
      <Icon
        name="logos:nodejs-icon"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
      <Icon
        name="logos:mysql"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
      <Icon
        name="logos:react"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
      <Icon
        name="logos:astro"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
      <Icon
        name="logos:tailwindcss-icon"
        class="transition grayscale hover:grayscale-0 hover:scale-125"
      />
    </div>
  </div>
</section>
